.navbar {
    position: sticky;
    inset-block-start: 0;
    background-color: var(--white);
}

.navbar-content {
    block-size: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar a {
    color: var(--black);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
}

a.currentPage {
    color: var(--primary);
}

@media (min-width: 350px) {
    .navbar a {
        font-size: 12px;
    }
}

@media (min-width: 720px) {
    .navbar-content {
        justify-content: flex-end;
        gap: 25px;
    }
    .navbar a {
        font-size: 16px;
    }
}