@import url(/assets/css/wrapper.css);
@import url(/assets/css/navbar.css);
@import url(/assets/css/hero.css);
@import url(/assets/css/lastPosts.css);
@import url(/assets/css/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* colors */
    --primary: #00838a; 
    --white: #fcfcfc; 
    --black: #1b1b1b; 
    /* font family */
    --headline1: 700 5.9375rem/9.6068754196167rem "Fira Sans"; 
    --headline2: 700 3.6875rem/5.96637487411499rem "Fira Sans"; 
    --headline3: 700 3rem/4.854000091552734rem "Fira Sans"; 
    --headline4: 700 2.125rem/3.4382500648498535rem "Fira Sans"; 
    --headline5: 700 1.5rem/2.427000045776367rem "Fira Sans"; 
    --body1: 400 1rem/1.6180000305175781rem "Fira Sans"; 
    --body2: 400 0.875rem/1.4157500267028809rem "Fira Sans"; 
    --button: 700 0.875rem/1.4157500267028809rem "Fira Sans"; 
    --caption: 400 0.75rem/1.2135000228881836rem "Fira Sans";
}

* {
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    margin: 0;
    background-color: var(--white);
}

a {
    text-decoration: none;
}

p {
    margin-block: 0px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}