---
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - Isaac Leonardo M.</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="https://i.imgur.com/76chvQa.png" type="image/x-icon">
</head>
<body>
    {% include navbar.html %}
    <div class="wrapper">
        {{ content }}
        {% include footer.html %}
    </div>
</body>
</html>